---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
    title="About | Alvaro Abarca"
    description="About Alvaro Abarca Lorem Ipsum"
>
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero
                title="About"
                tagline="Thanks for stopping by. Read below to learn more about myself and my background."
            >
                <img
                    width="1553"
                    height="873"
                    src="/assets/at-work-2.webp"
                    alt="Alvaro Abarca at work with a colleague"
                />
            </Hero>

            <section>
                <h2 class="section-title">Background</h2>
                <div class="content">
                    <p>
                        When I’m not coding, you’ll find me:
                        <ul>
                            <li>
                                👨‍👩‍👦 Family time - Married and enjoying life's
                                adventures with my wife.
                            </li>
                            <li>
                                🐕 Copito duties - Walking, playing, and
                                debugging life with our fluffy white companion
                            </li>
                            <li>
                                🚴 Urban cycling - Weekly rides to clear my mind
                                (weather permitting!)
                            </li>
                            <li>
                                ⚽ Playing fútbolito – Sunday matches with a
                                local group. Pro tip: I’d rather play than watch
                                soccer—except for…
                            </li>
                            <li>
                                🏎️ F1 weekends – Cheering for Red Bull Racing
                                (maximizing speed on and off the track!).
                            </li>
                            <li>
                                🎮 Nightly gaming sessions – Strategy and FPS
                                games with friends (teamwork skills apply here
                                too).
                            </li>
                        </ul>
                        Pro tip: My work-life balance algorithm = (family + Copito
                        + hobbies) / code. Optimal results achieved daily.
                    </p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Education</h2>
                <div class="content">
                    <p>
                        Ingeniería en Computación e Informatica - Universidad
                        Andrés Bello - 2015-2020
                    </p>
                    <ul>
                        <li>Graduated with Honors</li>
                        <li>
                            Participation in "Technology Support for
                            Collaborative Preparation of Emergency Plans Paper"
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <h2 class="section-title">Skills</h2>
                <div class="content">
                    <p>Full Stack Developer</p>
                </div>
            </section>
        </main>

        <ContactCTA />
    </div>
</BaseLayout>

<style>
    .about {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    img {
        margin-top: 1.5rem;
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: var(--gray-200);
    }

    .section-title {
        grid-column-start: 1;
        font-size: var(--text-xl);
        color: var(--gray-0);
    }

    .content {
        grid-column: 2 / 4;
    }

    .content :global(a) {
        text-decoration: 1px solid underline transparent;
        text-underline-offset: 0.25em;
        transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
        text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
        .about {
            display: grid;
            grid-template-columns: 1fr 60% 1fr;
        }

        .about > :global(:first-child) {
            grid-column-start: 2;
        }

        section {
            display: contents;
            font-size: var(--text-lg);
        }
    }
</style>
